<footer>
<div class="cf">
  <div class="one-third first">
    <div class="footer-title">The Company</div>
    <div class="sep"></div>
    <p>Jonah Levi is a diamond supplier based in Germany. Established contacts at the international bourses allow solid supply of the finest natural, certified  diamonds.</p>
  </div>
  <div class="one-third">
    <div class="footer-title">Contact</div>
    <div class="sep"></div>
    <span>Jonah Levi Diamanten Ltd. &amp; Co KG </span><br>
    <span>Schillerstr. 55, D-73033 Göppingen</span><br>
    <span>T: +49 (0) 1590 444 444 5</span><br>
    <span>E: office@jonahlevi.co</span>
  </div>

  <div class="one-third">
    <div class="footer-title invisible">Things to note</div>
    <div class="sep invisible"></div>
    <div class="gia"><img src="{{ site.baseurl }}assets/images/logo-top.png"></div>
  </div>
</div>
<div class="footer-bar cf">
  <div class="one-third first">Copyright &copy; 2016 Levi Holding Ltd.</div> 
  <div class="one-third"><a href="/legal">Terms of Service</a> <span class="sep"> / </span> <a href="/careers">Careers</a><span class="sep"> / </span> <a target="_blank" href="https://www.instagram.com/jonahlevidiamonds/">Instagram</a></div>
  <div class="one-third payment">
    <span class="pf pf-paypal"></span>
    <span class="pf-sofort pf"></span> 
    <span class="pf pf-giropay"></span>
    <span class="pf-mastercard pf"></span>
    <span class="pf-verified-by-visa pf"></span></div>
</div>
</footer>
  </div>
</div>
{% if site.google-analytics-tracking-id %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google-analytics-tracking-id }}']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
</body>
</html>