<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{% if page.title %}{{ page.title }}{% endif %}</title>

{% if page.description %}
	<meta name="description" content="{{ page.description }}" />
	{% else %}
	<meta name="description" content="{{ site.meta-description }}" />
	{% endif %}

	{% if page.keywords %}
	<meta name="keywords" content="{{ page.keywords }}">
	{% else %}
	<meta name="keywords" content="jonah levi diamanten, wholesale diamonds, b2b diamonds, diamanten großhandel">
	{% endif %}

<link rel="stylesheet" href="{{ site.baseurl }}assets/css/app.css">
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}assets/js/cookie.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}assets/js/app.js"></script>
<!-- fb Pixel -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '602654669887385');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=602654669887385&ev=PageView&noscript=1"
/></noscript>
<!-- End fb Pixel -->
	<script type='application/ld+json'> 
{
  "@context": "http://www.schema.org",
  "@type": "JewelryStore",
  "name": "Jonah Levi Diamanten Ltd. & Co. KG",
  "url": "http://www.jonahlevi.co",
  "logo": "http://jonahlevi.co/assets/images/logo-top.png",
  "description": "Jonah Levi of Germany is a diamond suppler and offers GIA certified loose diamonds for sale for wholesale.",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Schillerstr. 55",
    "addressLocality": "Göppingen",
    "addressRegion": "Baden-Württemberg",
    "postalCode": "73033",
    "addressCountry": "Germany"
  }
}
 </script>

<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"http://jonahlevi.co/cookie-policy/","theme":"light-bottom"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->

</head>