$sans: 'Lato', sans-serif;
$serif: 'Playfair Display', serif;

$primary-color: #d3c0e1;
$accent-color: #FFDAD1;

$text-color: #625f68;
$sub-head: #BFB7C5;

$cool-gray: #eceded;
$light-gray: #e0e0e0;
$lightlest-gray: #e8e8e8;
$dark-gray: #c1c1c1;
$darkest-gray: #999999;

$button-back: #4c6e9b;
$button-color: #fff;
$button-back-hover: #5B7FB0;
$button-border: #4c6e9b;

$banner-back: #FCF9FC;
$banner-border: #E5DCE6;
$banner-text: #fff; //CHANE
$banner-subtext: #fff; //CHANGE

$retail-process-bg: rgba(255,218,209,0.71);
$retail-process-border: #ead1cb;

$lp-bg: #f7f6e6;

$green: #7ACA81;
$red: #EDAEAE;

$full-width: 1024px;
$slim-width: 800px;