{% include header.html %}
{% include nav.html %}

<section class="hero">
<a href="about"><img src="{{ site.baseurl }}assets/images/hero.jpg"></a>

<div class="one-half first elm">
	<div class="lilac">
	<div class="inner-box">
	<p class="title">Deeply Discounted Diamonds</p>
	<div class="divider"></div>
	<p class="sub">Weekly in your inbox</p>
	</div>
</div>
</div>

<div class="one-half elm">
	<img src="{{ site.baseurl }}assets/images/ring.jpg">
</div>
<div class="cf"></div>
</section>
	
{% include footer.html %}