{% include header.html %}
{% include nav.html %}

<section class="hero">
<a href="about"><img alt="Buy GIA certified loose diamonds online at Jonah Levi Diamaten and enjoy wholesale prices." src="{{ site.baseurl }}assets/images/hero.jpg"></a>

<div class="one-half first elm">
	<div class="lilac">
	<div class="inner-box">
	<p class="title">Deeply Discounted Diamonds</p>
	<div class="divider"></div>
	<p class="sub"><a class="sub" href="/onboarding">Weekly in your inbox</a></p>
	</div>
</div>
</div>

<div class="one-half elm">
	<img alt="Custom made jewelry with loose GIA certified diamonds, melee diamonds, and other gemstones at wholesale prices at Jonah Levi Diamanten." src="{{ site.baseurl }}assets/images/ring.jpg">
</div>
<div class="cf"></div>
</section>
	
{% include footer.html %}