{% include header.html %}
{% include nav.html %}

<section class="landingpage">

<div class="video-container">
<div class="filter"></div>
	<video autoplay="" loop="" class="fillWidth">
	<source src="{{ site.baseurl }}assets/video.mp4" type="video/mp4">Your browser does not support the video tag. We suggest you upgrade your browser.
</video>
</div>

<div class="cf inner">
	<div class="two-thirds first">
	<h1>We make <span class="typed"></span> more profitable.</h1>
	<h2>We deliver first class GIA, HRD, and IGI certified diamonds to professional clients at cost-efficient wholesale prices.</h2>

	<ul class="benefits-lander">
	<li>Our clients love us because they benefit from:</li>
		<li><span class="icon-ok-circled green"></span> Outstanding Quality Check&mdash;Inspect before buying with <span class="highlight">Full-HD 360° clips</span>.</li>
		<li><span class="icon-ok-circled green"></span> Incredible Value&mdash;Save big with up to <span class="highlight">65% Discount over Rapaport.</span></li>
		<li><span class="icon-ok-circled green"></span> Trusted reliability&mdash;<span class="highlight">100% insured and secure</span> worldwide shipping.</li>
	</ul>
</div>
<div class="one-third">
<div class="signup center">
	<p>Stop Overpaying for Diamonds!<br> <span class="sub">Get Exclusive Quotes &amp; Offers!</span></p>

	<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup">
	<form action="//jonahlevi.us14.list-manage.com/subscribe/post?u=8c3e1adc439079e6d7b793910&amp;id=845c330719" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
	    <div id="mc_embed_signup_scroll">
		
	<div class="mc-field-group">
		<input type="email" placeholder="Your Email" name="EMAIL" class="required email" id="mce-EMAIL">
	</div>
	<div class="mc-field-group">
		<input type="text" placeholder="Your First Name" name="FNAME" class="required" id="mce-FNAME">
	</div>
	<div class="mc-field-group">
		<input type="text" placeholder="Your Last Name" name="LNAME" class="required" id="mce-LNAME">
	</div>
	<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8c3e1adc439079e6d7b793910_845c330719" tabindex="-1" value=""></div>
	    <div class="clear"><input type="submit" value="Get Instant Money-Saving Prices" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	    </div>
	</form>
	</div>

	<!--End mc_embed_signup-->

	<div class="tos-lander">By proceeding you agree to our <a href="/legal">Terms of Service</a></div>
	<div class="anti-spam green">Your email is safe. We respect your privacy.</div>
	</div>
</div>
</div>
<div class="cf"></div>


</section>
	
{% include footer.html %}